<ion-content [fullscreen]="true" color="cream">
  <app-header></app-header>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>Panier</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-card class="ion-text-center">
  <ion-card-title>Votre Panier</ion-card-title>
  <ion-list class="panierListe" *ngFor="let obj of panier"> 
      <ion-item class="panierListItem">
        <ion-col color="seablue">
          {{obj.product.name}}
        </ion-col>
        <ion-col>
          {{obj.product.promoPrice || obj.product.price}}
        </ion-col>
        <ion-col>
          {{obj.quantity}}
        </ion-col>
      </ion-item>
  </ion-list>
  <ion-card-title>
    Total: {{total}} $
  </ion-card-title>
</ion-card>

</ion-content>
