

<ion-content [fullscreen]="true" class="content-background-color">
  <app-header></app-header>
  <ion-card class="content-background-color">
    <ion-card-header>
      <ion-card-title align="left" >
        {{ item.name }}
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div class="image-container">
        <img [src]="photoUrl" alt="Photo" class="rounded-photo" align="center" />
      </div>
      <p class="description">
        {{ item.description }}
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>
